<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>ValidationFilter</filter-name>
        <filter-class>org.mirna.designer.filters.ValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserManagerFilter</filter-name>
        <filter-class>org.mirna.designer.filters.UserManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>RepresentationProcess</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>Browse</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>Update</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>MiRNANameSearch</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>GeneSearch</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>OligoDesign</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>MainProcessor</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>GeneGroupRepresentation</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserManagerFilter</filter-name>
        <servlet-name>RepresentationProcess</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserManagerFilter</filter-name>
        <servlet-name>Browse</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserManagerFilter</filter-name>
        <servlet-name>Update</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserManagerFilter</filter-name>
        <servlet-name>MiRNANameSearch</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserManagerFilter</filter-name>
        <servlet-name>GeneSearch</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserManagerFilter</filter-name>
        <servlet-name>OligoDesign</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserManagerFilter</filter-name>
        <servlet-name>MainProcessor</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserManagerFilter</filter-name>
        <servlet-name>GeneGroupRepresentation</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>AdminMenuProcessor</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>AdminProcessor</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserManagerFilter</filter-name>
        <servlet-name>AdminMenuProcessor</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserManagerFilter</filter-name>
        <servlet-name>AdminProcessor</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>org.mirna.designer.listeners.UserManagerListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RepresentationProcess</servlet-name>
        <servlet-class>org.mirna.servlets.RepresentationProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Browse</servlet-name>
        <servlet-class>org.mirna.representation.functions.Browse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>org.mirna.representation.functions.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MiRNANameSearch</servlet-name>
        <servlet-class>org.mirna.servlets.MiRNANameSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneSearch</servlet-name>
        <servlet-class>org.mirna.servlets.GeneSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OligoDesign</servlet-name>
        <servlet-class>org.mirna.designer.servlets.OligoDesign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainProcessor</servlet-name>
        <servlet-class>org.mirna.processor.MainProcessor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>org.mirna.designer.servlets.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneGroupRepresentation</servlet-name>
        <servlet-class>org.mirna.servlets.GeneGroupRepresentation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassDataKey</servlet-name>
        <servlet-class>org.mirna.designer.servlets.PassDataKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProcessor</servlet-name>
        <servlet-class>org.mirna.processor.AdminProcessor</servlet-class>
        <init-param>
            <param-name>logdir</param-name>
            <param-value>${catalina.home}</param-value>
        </init-param>
        <init-param>
            <param-name>usractivlog</param-name>
            <param-value>miRNADesigner_usractivity</param-value>
        </init-param>
        <init-param>
            <param-name>rootlog</param-name>
            <param-value>miRNADesigner_root</param-value>
        </init-param>
        <init-param>
            <param-name>exceptlog</param-name>
            <param-value>miRNADesigner_exceptionlog</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminMenuProcessor</servlet-name>
        <servlet-class>org.mirna.processor.AdminMenuProcessor</servlet-class>
        <init-param>
            <param-name>logdir</param-name>
            <param-value>${catalina.home}</param-value>
        </init-param>
        <init-param>
            <param-name>usractivlog</param-name>
            <param-value>miRNADesigner_usractivity</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AdminProcessorAjax</servlet-name>
        <servlet-class>org.mirna.processor.AdminProcessorAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailServlet</servlet-name>
        <servlet-class>org.mirna.servlets.MailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>org.mirna.designer.servlets.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RepresentationProcess</servlet-name>
        <url-pattern>/representation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Browse</servlet-name>
        <url-pattern>/browse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MiRNANameSearch</servlet-name>
        <url-pattern>/search_mirna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneSearch</servlet-name>
        <url-pattern>/search_gene</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OligoDesign</servlet-name>
        <url-pattern>/design_oligo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainProcessor</servlet-name>
        <url-pattern>/processor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/loginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneGroupRepresentation</servlet-name>
        <url-pattern>/ggrepresentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassDataKey</servlet-name>
        <url-pattern>/pdkey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProcessor</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminMenuProcessor</servlet-name>
        <url-pattern>/menucontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProcessorAjax</servlet-name>
        <url-pattern>/controlx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailServlet</servlet-name>
        <url-pattern>/MailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <error-page>
        <exception-type>
            org.mirna.control.exceptions.CookieEnabledException
        </exception-type>
        <location>
            /errorpage/enablecookie.jsp
        </location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
